// features

.features {
  font-family: $font-family;
  text-align: center;

  &__heading {
    text-align: center;
    padding: 0 200px 0 200px;
    margin-top: 333px;
  }

  &__heading-text,
  &__heading-text-bold {
    color: $color-shark;
  }

  &__sub-text {
    padding: 28px 0 32px 0;
    letter-spacing: 0.1px;
    color: $color-regent-gray;
  }

  &__body {
    padding: 0 120px 0 120px;
  }

  &__card-title {
    margin-top: -10px;
    color: $color-black-pearl;
  }

  &__card-text {
    padding: 7px 0 10px 0;
    letter-spacing: 0.1px;
    color: $color-slate-gray;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .features {
    margin: 100px 12px 0 12px;
    &__heading,
    &__sub-text,
    &__body {
      padding: 40px 0;
      margin: 0;
    }

    &__sub-text {
      margin: 10px 0 0 0;
    }

    &__card {
      margin: 0 0 100px 0;

      &-title {
        padding: 10px 0;
      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">sm", "<=md") {
  .features {
    margin: 250px 20px;
    &__heading,
    &__sub-text,
    &__body {
      padding: 20px 0;
      margin: 0;
    }

    &__sub-text {
      margin: 30px 0;
    }

    &__card {
      margin: 0 0 100px 0;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">md", "<=lg") {
  .features {
    margin: 150px 20px;

    &__heading,
    &__sub-text,
    &__body {
      padding: 0;
      margin: 0;
    }

    &__sub-text {
      margin: 60px 0;
    }

    &__card {
      margin: 20px 0 50px 0;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">lg", "<=xl") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
