// features

.features {
  font-family: $font-family;
  text-align: center;

  &__heading {
    text-align: center;
    padding: 0 200px 0 200px;
    margin-top: 333px;
  }

  &__sub-text {
    padding: 28px 0 32px 0;
  }

  &__body {
    padding: 0 120px 0 120px;
  }

  &__card-title {
    margin-top: -10px;
  }

  &__card-text {
    padding: 7px 0 10px 0;
    letter-spacing: 0.1px;
  }
}
