// features

.features {
  font-family: $font-family;
  text-align: center;

  &__heading {
    text-align: center;
    padding: 0 200px 0 200px;
    margin-top: 333px;
  }

  &__heading-text,
  &__heading-text-bold {
    color: $color-shark;
  }

  &__sub-text {
    padding: 28px 0 32px 0;
    letter-spacing: 0.1px;
    color: $color-regent-gray;
  }

  &__body {
    padding: 0 120px 0 120px;
  }

  &__card-title {
    margin-top: -10px;
    color: $color-black-pearl;
  }

  &__card-text {
    padding: 7px 0 10px 0;
    letter-spacing: 0.1px;
    color: $color-slate-gray;
  }
}
