// footer

.footer {
  height: 317px;
  font-family: $font-family;
  float: left;
  width: 100%;

  &__row {
    margin-top: -1px;
    padding: 0 120px;
  }

  &__title {
    padding-bottom: 10px;
    color: $color-shark;
  }

  &__list {
    padding: 6px 0;
  }

  &__link {
    letter-spacing: 0.2px;
    color: $color-regent-gray;
  }

  &__link:hover {
    color: $color-black;
  }

  &__text {
    margin: 89px 135px 50px 121px;
    letter-spacing: 0.1px;
    color: $color-regent-gray;
    padding-bottom: 181px;
  }

  .text-bold {
    margin-left: 0;
    color: $color-shark;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .footer {
    height: auto;
    font-family: $font-family;
    float: left;
    width: 100%;
    padding: 20px 0;

    &__row {
      padding: 0;
      margin: auto;
    }

    &__list {
      padding: 6px 0;
    }

    &__title {
      padding-bottom: 8px;
    }

    &__text {
      margin: 0;
      padding: 20px 12px;
      text-align: center;
    }

    // spacing between footer columns
    .col-12 {
      padding: 12px 20px;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm", "<=md") {
  .footer {
    &__row {
      padding: 0 32px;
    }

    &__text {
      padding: 50px 0 ;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md", "<=lg") {
  .footer {
    &__text {
      padding: 50px 0 0 0;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg", "<=xl") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
