// footer

.footer {
  height: 317px;
  font-family: $font-family;
  float: left;
  width: 100%;

  &__row {
    margin-top: -1px;
    padding: 0 120px;
  }

  &__title {
    padding-bottom: 10px;
  }

  &__list {
    padding: 6px 0;
  }

  &__link:hover {
    color: $color-black;
  }

  &__text {
    margin: 89px 135px 50px 121px;
  }

  .text-bold {
    margin-left: 0;
  }
}
