// hero

.hero {
  &__left {
    padding: 142px 0 0 121px;
  }

  &__text {
    margin: 42px 0 31px 0;
    color: $color-shark;
    margin-left: -1px;
  }

  &__sub-text {
    padding-bottom: 47px;
    letter-spacing: 0.4px;
    color: $color-regent-gray;
  }

  &__btn:nth-child(2) {
    margin-left: 18px;
  }

  &__right {
    margin-left: 350px;
  }

  &__screen {
    position: absolute;
    top: -45px;
    right: 0px;
  }
}
