// hero

.hero {
  &__left {
    padding: 142px 0 0 121px;
  }

  &__text {
    margin: 42px 0 31px 0;
    color: $color-shark;
    margin-left: -1px;
  }

  &__sub-text {
    padding-bottom: 47px;
    letter-spacing: 0.4px;
    color: $color-regent-gray;
  }

  &__btn:nth-child(2) {
    margin-left: 18px;
  }

  &__right {
    margin-left: 350px;
  }

  &__screen {
    position: absolute;
    top: -45px;
    right: 0px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .hero {
    // h1 and sub-text
    &__text {
      font-size: 50px;
      color: $color-white;
      padding: 0;
      margin: 10px;
    }

    &__sub-text {
      color: $color-black;
      padding: 40px 10px;
      font-weight: 500;
    }

    // phone screens
    &__screen {
      display: none;
    }

    &__left {
      padding: 0;
    }

    // buttons
    &__buttons {
      display: flex;
      flex-direction: column;
      margin: 40px auto;
      width: 80%;
    }

    &__btn:nth-child(2) {
      margin: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media(">=sm", "<=md") {
  .hero {
    text-align: center;
    // h1 and sub-text
    &__text {
      font-size: 50px;
      color: $color-white;
      margin: 30px 10px;
      padding: 0;
    }

    &__sub-text {
      font-weight: 500;
      color: $color-black;
      margin: 20px 0;
      padding: 50px 10px;
    }

    // phone screens
    &__screen {
      display: none;
    }

    &__left {
      padding: 0;
    }

    // buttons
    &__buttons {
      display: block;
      margin: 30px 10px;
    }

    &__btn:nth-child(2) {
      margin: 0 0 0 20px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include media(">=md", "<=lg") {
  .hero {
    text-align: center;

    &__left {
      padding: 60px 0 0 0;
    }

    // h1 and sub-text
    &__text {
      color: $color-white;
      text-shadow: 1px 1px #000;
    }

    &__sub-text {
      color: $color-black;
      padding: 80px 0 100px 0;
    }

    // phone screens
    &__screen {
      display: none;
    }

    // buttons
    &__buttons {
      display: block;
      margin: 30px 10px;
    }

    &__btn:is(.btn_def) {
      margin: 0 20px;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media(">=lg", "<=xl") {
  .hero {
    &__left {
      margin: 20px;
      padding: 25px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media(">=xl") {
}
