// nav

.navbar {
  padding: 0;

  &__brand {
    padding: 28px 0 0 134px;
    letter-spacing: 0.5px;
    color: $color-regent-gray;
  }

  &__brand--bold {
    letter-spacing: 0.1px;
    color: $color-shark;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    padding: 75px 144px 0 0;
    z-index: 10;
  }

  &__list {
    margin-left: 1px;
  }

  &__link {
    padding: 0 20px;
    color: $color-white;
  }

  &__link:hover {
    color: $color-black;
  }

  &__link:nth-child(3) {
    padding-right: 38px;
  }

  &__btn {
    color: $color-white;
  }
}

// Extra small devices (portrait phones, less than 576px)

@media (min-width: 320px) and (max-width: 575px) {
  .navbar {
    height: auto;

    &__brand {
      padding: 20px 16px;
    }

    &__menu {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      z-index: 10;
      width: 100%;
      height: 500px;
      margin: auto;
      padding: 0;
      background-color: $color-white;
      box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
      animation: myAnim 0.4s ease-out 0s 1 normal forwards;
      transition: animation 0.4s ease;
    }

    @keyframes myAnim {
      0% {
        opacity: 0;
        transform: translateX(-250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &__list {
      padding: 30px 12px;
      margin: auto 0;
      text-align: center;
      text-transform: uppercase;
    }

    &__link {
      color: black;
      font-size: 28px;
    }

    .burger-toggler {
      display: block;
      cursor: pointer;
      margin: 0 14px 0 auto;
      z-index: 9;

      div {
        width: 24px;
        height: 3px;
        margin: 5px;
        background-color: #000;
      }
    }

    .nav-close {
      margin: 20px 20px 0 auto;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar {
  }
}

.navbar-toggle-show {
  display: flex;
}
