// nav

.navbar {
  padding: 0;

  &__brand {
    padding: 28px 0 0 134px;
    letter-spacing: 0.5px;
    color: $color-regent-gray;
  }

  &__brand--bold {
    letter-spacing: 0.1px;
    color: $color-shark;
  }

  &__menu {
    padding: 60px 134px 0 0;
  }

  &__list {
    margin-left: 1px;
  }

  &__link {
    padding: 0 18px 0 18px;
    color: $color-white;
  }

  &__link:hover {
    color: $color-black;
  }

  &__link:nth-child(3) {
    padding-right: 38px;
  }

  &__btn {
    color: $color-white;
  }
}
