// pricing

.pricing {
  font-family: $font-family;

  &__heading {
    text-align: center;
    padding: 200px 200px 0 200px;
  }

  &__heading-text,
  &__heading-text-bold {
    color: $color-shark;
  }

  &__sub-text {
    padding: 28px 0 58px 0;
    letter-spacing: 0.1px;
    color: $color-regent-gray;
  }

  .card {
    margin: 25px auto 20px auto;
  }

  &__row {
    margin: 0 105px;
  }
}
