// pricing

.pricing {
  font-family: $font-family;

  &__heading {
    text-align: center;
    padding: 200px 200px 0 200px;
  }

  &__heading-text,
  &__heading-text-bold {
    color: $color-shark;
  }

  &__sub-text {
    padding: 28px 0 58px 0;
    letter-spacing: 0.1px;
    color: $color-regent-gray;
  }

  .card {
    margin: 25px auto 20px auto;
  }

  &__row {
    margin: 0 105px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .pricing {
    padding-top: 30px;
    &__heading,
    &__sub-text,
    &__row {
      padding: 0;
      margin: 0;
    }

    &__sub-text {
      padding: 50px 0;
    }

    .card {
      margin: 50px 0;
    }

    .pricing__card-btn {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">sm", "<=md") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">md", "<=lg") {
}

/* Large devices (desktops, 992px and up) */
@include media(">lg", "<=xl") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
