// buttons

.btn_def {
  display: inline-block;
  border: none;
  border-radius: 30px;

  &--nav {
    padding: 17px 31px 12px 31px;
    margin-bottom: 10px;
    background-color: $color-woodsmoke;
    color: white;
    @include transitions($args);
    @include drop-shadow;
  }
  &--nav:hover {
    color: white;
  }

  &--colorful {
    padding: 21px 31px 16px 30px;
    color: $color-white;
    @include gradient-bg;
  }
  &--colorful:hover {
    color: white;
    @include hover-shadow;
    text-decoration: none;
  }

  &--transparent {
    padding: 19px 29px 13px 29px;
    color: $color-regent-gray;
    background: linear-gradient(#fff, #fff) padding-box,
      /*this is your grey background*/
        linear-gradient(
          to top left,
          $color-bright-sun -100%,
          $color-tickle-me-pink 05%,
          $color-bright-sun 120%
        )
        border-box;

    border: 2px solid transparent;
    border-radius: 50px;

    &--card {
      padding: 10px 20px;
      color: $color-white;
      @include gradient-bg;
      background-color: black;
    }
    &--card:hover {
      color: white;
      text-decoration: none;
    }

    // color: $color-regent-gray;
    // // border: 2px solid;
    // // background: linear-gradient(white, white),
    // //   linear-gradient(to right, $color-tickle-me-pink, $color-bright-sun);
    // // background-origin: padding-box, border-box;
    // // background-repeat: no-repeat;
    // // border: 3px solid transparent;
    // background-color: wheat;
  }

  &--transparent::before {
  }

  &--transparent:hover {
  }
}

.btn_def:hover {
  text-decoration: none;
}
