// buttons

.btn_def {
  display: inline-block;
  border: none;
  border-radius: 30px;
  @include transition($args);

  &--nav {
    padding: 17px 30px 14px 29px;
    margin-top: -15px;
    margin-left: 20px;
    background-color: $color-woodsmoke;
    color: white;
    @include drop-shadow($nav-btn);
  }

  &--nav:hover {
    transform: scale(1.04);
    @include transitions($args);
    color: $color-white;
  }

  &--colorful {
    padding: 21px 28px 16px 28px;
    color: $color-white;
    @include gradient-bg;
  }

  &--colorful:hover {
    color: white;
    @include hover-shadow;
    @include transitions($args);
  }

  &--transparent {
    padding: 19px 27px 14px 26px;
    color: $color-regent-gray;
    background: linear-gradient(#fff, #fff) padding-box,
      /*this is your grey background*/
        linear-gradient(
          to top left,
          $color-bright-sun -100%,
          $color-tickle-me-pink 05%,
          $color-bright-sun 120%
        )
        border-box;

    border: 2px solid transparent;
    border-radius: 50px;
    font-weight: $regular;
  }

  &--transparent:hover {
    color: $color-shark;
    @include transitions($args);
  }

  &--card {
    padding: 11px 21px 8px 21px;
    color: $color-white;
    @include card-btn-gradient;
    @include drop-shadow($card-btn);
  }

  &--card:hover {
    color: white;
  }

  &--wave-white {
    padding: 18px 49px 13px 50px;
    background-color: $color-white;
    color: $color-tickle-me-pink;
    @include drop-shadow($card-btn);
  }

  &--wave-white:hover {
    color: $color-shark;
  }

  &--wave-transparent {
    padding: 16px 38px 11px 38px;
    border: 2px solid $color-white;
    background-color: transparent;
    color: $color-white;
  }

  &--wave-transparent:hover {
    color: $color-shark;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .btn_def {
    &--nav {
      padding: 14px 50px;
      font-size: 20px;
      margin: 0 0 30px 0;
    }

    &--colorful,
    &--transparent {
      text-align: center;
      margin: 30px 0;
    }

    &--card {
      white-space: nowrap;
      padding: 14px 60px;
      margin: 20px auto;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media(">sm", "<=md") {
  .btn_def {
    &--colorful {
      box-shadow: 1px 1px rgba(#fff, 1);
    }
  }
}

// Medium devices (tablets, 768px and up)
@include media(">md", "<=lg") {
  .btn_def {
    &--colorful {
      box-shadow: 1px 1px rgba(#fff, 1);
    }

    &--colorful,
    &--transparent {
      margin: 0 50px;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media(">lg", "<=xl") {
}

// Extra large devices (large desktops, 1200px and up)
@include media(">=xl") {
}
