// buttons

.btn_def {
  display: inline-block;
  border: none;
  border-radius: 30px;

  &--nav {
    padding: 17px 31px 12px 31px;
    margin-bottom: 10px;
    background-color: $color-woodsmoke;
    color: white;

    @include drop-shadow;
  }
  &--nav:hover {
    transform: scale(1.06);
    @include transitions($args);
    color: $color-white;
  }

  &--colorful {
    padding: 21px 31px 16px 30px;
    color: $color-white;
    @include gradient-bg;
  }
  &--colorful:hover {
    color: white;
    @include hover-shadow;
    @include transitions($args);
  }

  &--transparent {
    padding: 19px 29px 13px 29px;
    color: $color-regent-gray;
    background: linear-gradient(#fff, #fff) padding-box,
      /*this is your grey background*/
        linear-gradient(
          to top left,
          $color-bright-sun -100%,
          $color-tickle-me-pink 05%,
          $color-bright-sun 120%
        )
        border-box;

    border: 2px solid transparent;
    border-radius: 50px;
  }

  &--transparent:hover {
    color: $color-regent-gray;
  }

  &--card {
    padding: 10px 20px;
    color: $color-white;
    @include gradient-bg;
    @include drop-shadow;
  }
  &--card:hover {
    color: white;
  }

  &--wave-white {
    padding: 17px 48px 12px 49px;
    background-color: $color-white;
    color: $color-tickle-me-pink;
    @include drop-shadow;
  }

  &--wave-white:hover {
    color: $color-black;
  }

  &--wave-transparent {
    padding: 15px 39px 12px 38px;
    border: 2px solid $color-white;
    background-color: transparent;
    color: $color-white;
  }

  &--wave-transparent:hover {
    color: $color-black;
  }
}
