// cards

.card {
  @include box-shadow(rgba(0, 0, 0, 0.11) 0px 10px 50px);
  width: 570px;
  height: 514px;
  border: none;
  border-radius: 10px;

  &__heading {
    display: flex;
    padding-top: 67px;
  }

  &__title {
    padding: 0 0 0 60px;
    color: $color-woodersmoke;
  }

  &__price {
    padding: 22px 40px 0 96px;
    color: $color-black-pearl;
  }

  &__price--month {
    color: $color-black-pearl;
  }

  &__text {
    padding: 0 0 30px 60px;
    margin-top: 1px;
    letter-spacing: 0.1px;
  }

  &__list {
    padding: 0 70px 30px 62px;
    margin-bottom: 10px;
  }

  &__list-item {
    margin-top: -20px;
    white-space: nowrap;
    padding: 0 0 18px 37px;
    color: $color-black-pearl;
  }

  &__col:nth-child(2) {
    margin-left: -45px;
  }

  // pricing-card-bottom
  .pricing__card-btn {
    display: flex;
    padding: 3px 0px 60px 60px;
  }

  &__btn {
    font-size: 14px;
  }

  &__contact {
    padding: 12px 0 0 29px;
    letter-spacing: 0.1px;
    color: $color-slate-gray;
  }

  // background-scale ve gradient
  &::before {
    @include transition(all 0.3s ease-in);
    content: " ";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    @include gradient-bg;
    @include box-shadow(rgba(0, 0, 0, 0.3) 0px 25px 50px -12px);
    @include transition(all 0.3s ease-in);
    background-color: #fff;
    transform: scaleY(1.1);
  }

  &__list {
    display: block;
  }

  // card-hover
  &:hover {
    .card__list-item {
      color: $color-white;
    }

    .card__title,
    .card__price,
    .pricing__card__price--month,
    .card__text,
    .card__list-item,
    .card__contact {
      color: $color-white;
      z-index: 1;
    }

    // icon hover color switch
    .icon {
      &--yes {
        background: url("../img/icon-yes-white.svg");
      }

      &--no {
        background: url("../img/icon-no-white.svg");
      }
    }

    .pricing__card__bottom {
      .pricing__card-btn {
        .btn_def {
          @include white-bg;
          color: $color-tickle-me-pink;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media(">=xs", "<=sm") {
  .card {
    width: auto;
    height: auto;

    // reset spacing
    &__heading,
    &__title,
    &__price,
    &__text,
    &__list,
    &__list-item {
      margin: 0;
      padding: 0;
    }

    // match both columns alignment
    &__col:nth-child(2) {
      margin: 0;
    }

    // font-styles and alingment of card inner elements
    &__heading {
      padding: 0 10px 0 10%;
    }

    &__text {
      padding: 0 10%;
    }

    &__body {
      padding: 20px 20px 0 10%;
    }

    &__title {
      font-size: 32px;
    }

    &__price {
      font-size: 12px;
      margin: auto 6px auto auto;
    }

    &__text {
      text-align: justify;
    }

    // placed the both li elements(icons and list items) inside div to align side by side.
    &__list div {
      display: flex;
      padding: 8px 0;

      li.icon {
        margin-right: 12px;
      }
    }

    &__contact {
      padding: 0 0 20px 0;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm", "<=md") {
  .card {
    width: 95%;
    height: auto;

    &__price {
      padding: 22px 40px 0 20px;
      margin-left: auto;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md", "<=lg") {
  .card {
    width: 80%;
    height: auto;

    &__price {
      padding: 18px 65px 0 0;
      margin-left: auto;
    }

    &__text {
      padding: 18px 0 30px 60px;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg", "<=xl") {
  .card {
    width: 80%;
    height: auto;

    &__price {
      padding: 18px 65px 0 0;
      margin-left: auto;
    }

    &__text {
      padding: 18px 0 30px 60px;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
  .card {
    width: 100%;
    max-width: 570px;
    height: auto;

    &__price {
      padding: 18px 60px 0 0;
      margin-left: auto;
    }

    &__text {
      padding: 18px 0 30px 60px;
    }
  }
}
