// cards

.card {
  width: 570px;
  height: 514px;
  @include card-shadow;
  border: none;
  border-radius: 10px;

  &__heading {
    display: flex;
    padding-top: 67px;
  }

  &__title {
    padding: 0 0 0 60px;
    color: $color-woodersmoke;
  }

  &__price {
    padding: 22px 40px 0 96px;
    color: $color-black-pearl;
  }

  &__price--month {
    color: $color-black-pearl;
  }

  &__text {
    padding: 0 0 30px 60px;
    margin-top: 1px;
    letter-spacing: 0.1px;
  }

  &__list {
    padding: 0 70px 30px 62px;
    margin-bottom: 10px;
  }

  &__list-item {
    margin-top: -20px;
    white-space: nowrap;
    padding: 0 0 18px 37px;
    color: $color-black-pearl;
  }

  &__col:nth-child(2) {
    margin-left: -45px;
  }

  // pricing-card-bottom
  .pricing__card-btn {
    display: flex;
    padding: 3px 0px 60px 60px;
  }

  &__btn {
    font-size: 14px;
  }

  &__contact {
    padding: 12px 0 0 29px;
    letter-spacing: 0.1px;
    color: $color-slate-gray;
  }

  // card-hover
  &:hover {
    .card__list-item {
      color: $color-white;
    }

    .card__title,
    .card__price,
    .pricing__card__price--month,
    .card__text,
    .card__list-item,
    .card__contact {
      color: $color-white;
      z-index: 1;
    }

    // icon hover color switch

    .icon {
      &--yes {
        background: url("../img/icon-yes-white.svg");
      }
      &--no {
        background: url("../img/icon-no-white.svg");
      }
    }

    .pricing__card__bottom {
      .pricing__card-btn {
        .btn_def {
          color: $color-tickle-me-pink;
          @include white-bg;
        }
      }
    }
  }
}

// background-scale ve gradient
.card::before {
  content: " ";
  position: absolute;
  border-radius: 10px;

  width: 100%;
  height: 100%;
}

.card:hover::before {
  @include gradient-bg;
  @include card-shadow--hover;
  @include transition($card-bg-transition);

  transform: scaleY(1.1);
  @include transitions($args);
}

.card__list {
  display: block;
}
