// cards

.card {
  width: 570px;
  height: 514px;
  @include card-shadow;
  border: none;
  border-radius: 10px;

  &__heading {
    display: flex;
    padding-top: 65px;
  }
  &__title {
    padding: 0 0 0 60px;
  }
  &__price {
    padding: 22px 40px 0 95px;
  }
  &__text {
    padding: 0 0 30px 60px;
    margin-top: -4px;
  }

  &__list {
    padding: 0 70px 30px 60px;
    margin-bottom: 10px;
  }
  &__list-item {
    margin-top: -20px;

    white-space: nowrap;
    padding: 0px 0 19px 35px;
  }

  &__col:nth-child(2) {
    margin-left: -43px;
  }

  &__btn {
    font-size: 14px;
  }

  .pricing__card-btn {
    padding: 0 0 60px 60px;
    display: flex;
  }

  &__contact {
    padding: 10px 0 0 30px;
  }

  // card-hover
  &:hover {
    .card__list-item {
      color: $color-white;
    }

    .card__title,
    .card__price,
    .pricing__card__price--month,
    .card__text,
    .card__list-item,
    .card__contact {
      color: $color-white;
      z-index: 1;
    }

    // icon hover color switch

    .icon {
      &--yes {
        background: url("../img/icon-yes-white.svg");
      }
      &--no {
        background: url("../img/icon-no-white.svg");
      }
    }

    .pricing__card__bottom {
      .pricing__card-btn {
        .btn_def {
          color: $color-tickle-me-pink;
          @include white-bg;
        }
      }
    }
  }
}

// background-scale, ve gradient
.card::before {
  content: " ";
  position: absolute;
  border-radius: 10px;

  width: 100%;
  height: 100%;
}

.card:hover::before {
  @include gradient-bg;
  @include card-shadow--hover;
  @include transition($card-bg-transition);

  transform: scaleY(1.1);
  @include transitions($args);
}

.card__list {
  display: block;
}
