// icons

// pricing-card-list

.icon {
  width: 20px;
  height: 20px;

  &--yes {
    background: url("../img/icon-yes-pink.svg");
  }

  &--no {
    background: url("../img/icon-no-gray.svg");
  }
}
