// mixin

// transition
$args: all 0.3s ease-in;

@mixin transitions($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// card-bg-transition
$card-bg-transition: all 0s;

@mixin transition($card-bg-transition) {
  -webkit-transition: $card-bg-transition;
  -moz-transition: $card-bg-transition;
  -o-transition: $card-bg-transition;
  transition: $card-bg-transition;
}

// box-shadow
// btn-colorful
@mixin hover-shadow {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
}

// pricing__card--shadow
@mixin card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

//pricing__card--shadow:hover
@mixin card-shadow--hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

// drop-shadow
// nav-btn
@mixin drop-shadow {
  filter: drop-shadow(0px 22px 30px rgba(000, 000, 000, 0.4));
}

// gradient-background
// header-btn / card-hover-bg / card-btn
@mixin gradient-bg {
  background-image: -moz-linear-gradient(
    to bottom left,
    $color-bright-sun -100%,
    $color-tickle-me-pink 05%,
    $color-bright-sun 120%
  );
  background-image: -webkit--gradient(
    to top left,
    $color-bright-sun -100%,
    $color-tickle-me-pink 05%,
    $color-bright-sun 120%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-bright-sun -100%,
    $color-tickle-me-pink 05%,
    $color-bright-sun 120%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-bright-sun -100%,
    $color-tickle-me-pink 05%,
    $color-bright-sun 120%
  );
  background-image: linear-gradient(
    to top left,
    $color-bright-sun -100%,
    $color-tickle-me-pink 05%,
    $color-bright-sun 120%
  );
}

// pricing__card hover --> btn_white_bg
@mixin white-bg {
  background-image: -moz-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
}
