// mixin

// * transitions

$args: all 0.3s ease-in;

@mixin transitions($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// card-bg-transition
$card-bg-transition: all 0.2s;

@mixin transition($card-bg-transition) {
  -webkit-transition: $card-bg-transition;
  -moz-transition: $card-bg-transition;
  -o-transition: $card-bg-transition;
  transition: $card-bg-transition;
}

// * box-shadows

// header-btn-colorful

$btn-colorful: 0 15px 35px rgba(0, 0, 0, 0.3);

@mixin hover-shadow {
  -webkit-box-shadow: $btn-colorful;
  -moz-box-shadow: $btn-colorful;
  box-shadow: $btn-colorful;
}

// pricing__card--shadow
$card-shadow: rgba(0, 0, 0, 0.11) 0px 10px 50px;
@mixin card-shadow {
  -webkit-box-shadow: $card-shadow;
  -moz-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
}

//pricing__card--shadow:hover
$card-shadow-hover: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
@mixin card-shadow--hover {
  -webkit-box-shadow: $card-shadow-hover;
  -moz-box-shadow: $card-shadow-hover;
  box-shadow: $card-shadow-hover;
}

// * drop-shadows

// nav-btn-shadow

$nav-btn: drop-shadow(0px 20px 25px rgba(000, 000, 000, 0.4));

@mixin drop-shadow($nav-btn) {
  -webkit-filter: $nav-btn;
  filter: $nav-btn;
}

// card-btn-shadow

$card-btn: drop-shadow(0px 10px 10px rgba(000, 000, 000, 0.22));

@mixin drop-shadow($card-btn) {
  -webkit-filter: $card-btn;
  filter: $card-btn;
}

// * gradient-background

// header-btn / card-hover-bg / card-btn
@mixin gradient-bg {
  background-image: -moz-linear-gradient(
    to bottom left,
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -webkit--gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
}

// pricing-card-btn
@mixin card-btn-gradient {
  background-image: -moz-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -webkit--gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
}

// pricing__card hover --> btn_white_bg
@mixin white-bg {
  background-image: -moz-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
}
