// mixin

// * transitions

$args: all 0.3s ease-in;

@mixin transitions($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// * box shadow
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

// * drop-shadows

@mixin drop-shadow($args) {
  -webkit-filter: $args;
  filter: $args;
}

// * gradient-background

// header-btn / card-hover-bg / card-btn
@mixin gradient-bg {
  background-image: -moz-linear-gradient(
    to bottom left,
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -webkit--gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
  background-image: linear-gradient(
    to top left,
    $color-tickle-me-pink 10%,
    $color-bright-sun 120%
  );
}

// pricing-card-btn
@mixin card-btn-gradient {
  background-image: -moz-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -webkit--gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
  background-image: linear-gradient(
    to top left,
    $color-tickle-me-pink 30%,
    $color-bright-sun 110%
  );
}

// pricing__card hover --> btn_white_bg
@mixin white-bg {
  background-image: -moz-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -webkit-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: -o-linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
  background-image: linear-gradient(
    to top left,
    $color-white 0%,
    $color-white 100%
  );
}
