// typo

// navbar-brand / navbar-brand--bold / navbar-link
.navbar {
  &__brand {
    font-family: $font-family;
    font-weight: $thin;
    font-size: 24px;
    line-height: 28px;
    color: $color-regent-gray;
  }
  &__brand--bold {
    font-family: $font-family;
    font-weight: $bold;
    font-size: 24px;
    line-height: 28px;
    color: $color-shark;
  }

  &__link {
    font-family: $font-family;
    font-weight: $regular;
    font-size: 14px;
    line-height: 19px;
    color: $color-white;
  }
}

// h1
h1.header__text {
  font-family: $font-family;
  font-weight: $bold;
  font-size: 64px;
  line-height: 75px;
  color: $color-shark;
}

// header__sub-text
.header {
  &__sub-text {
    font-family: $font-family;
    font-weight: $light;
    font-size: 20px;
    line-height: 28px;
    color: $color-regent-gray;
  }
}

// features__text / pricing__text
.heading-text {
  font-family: $font-family;
  font-weight: $light;
  font-size: 48px;
  line-height: 57px;
  color: $color-shark;
}

// features__text-bold / pricing__text-bold

.heading-text-bold {
  font-family: $font-family;
  font-weight: $medium;
  font-size: 48px;
  line-height: 57px;
  color: $color-shark;
}

// features__sub-text / pricing__sub-text
.sub-text {
  font-family: $font-family;
  font-weight: $light;
  font-size: 18px;
  color: $color-regent-gray;
  line-height: 26px;
}

// features__card-text / pricing__card-text
.small-text {
  font-family: $font-family;
  font-weight: $thin;
  font-size: 16px;
  line-height: 19px;
  color: $color-slate-gray;
}

// buttons
// nav-btn
.btn_def--nav {
  font-family: $font-family;
  font-weight: $light;
  font-size: 14px;
  line-height: 19px;
  color: $color-white;
}

// wave-buttons
.btn_def--wave-white,
.btn_def--wave-transparent {
  font-family: $font-family;
  font-size: 14px;
  line-height: 19px;
  font-weight: $medium;
}

// header-btns
.btn_def--colorful,
.btn_def--transparent {
  font-family: $font-family;
  font-size: 16px;
  line-height: 23px;
  font-weight: $medium;
}

// pricing-card-title
.card__title {
  font-family: $font-family;
  font-weight: $medium;
  font-size: 64px;
  line-height: 90px;
  color: $color-woodersmoke;
}

// pricing__list-item / card__contact / card__price--month
.pricing {
  .card__list-item {
    font-family: $font-family;
    font-size: 14px;
    line-height: 21px;
    color: $color-black-pearl;
  }
  .card__contact {
    font-family: $font-family;
    font-weight: $medium;
    font-size: 14px;
    line-height: 19px;
    color: $color-slate-gray;
  }
  .card__price {
    font-family: $font-family;
    font-weight: $bold;
    font-size: 20px;
    line-height: 25px;
    color: $color-black-pearl;
  }
  &__card__price--month {
    font-family: $font-family;
    font-weight: $regular;
    font-size: 12px;
    line-height: 25px;
    color: $color-black-pearl;
  }
}

// features
// card-title
.features__card-title {
  font-family: $font-family;
  font-weight: $regular;
  font-size: 14px;
  line-height: 21px;
}

// wave__text
.wave__text {
  font-family: $font-family;
  font-weight: $thin;
  font-size: 32px;
  line-height: 40px;
  color: $color-white;
}

// footer-title / footer-link / footer-text
.footer {
  &__title {
    font-family: $font-family;
    font-weight: $medium;
    font-size: 14px;
    line-height: 19px;
    color: $color-shark;
  }
  &__link {
    font-family: $font-family;
    font-weight: $light;
    font-size: 16px;
    line-height: 23px;
    color: $color-regent-gray;
  }
  &__text {
    font-family: $font-family;
    font-weight: $light;
    font-size: 14px;
    line-height: 19px;
    color: $color-regent-gray;
  }
  .text-bold {
    font-family: $font-family;
    font-weight: $regular;
    font-size: 14px;
    line-height: 19px;
    color: $color-shark;
  }
}
