// typo

$font-family: "Roboto", sans-serif;

// font-size
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-48 {
  font-size: 48px;
}

.font-64 {
  font-size: 64px;
}

// font-weight

.weight-thin {
  font-weight: $thin;
}

.weight-light {
  font-weight: $light;
}

.weight-regular {
  font-weight: $regular;
}

.weight-medium {
  font-weight: $medium;
}

.weight-bold {
  font-weight: $bold;
}

// line-height

.line-19 {
  line-height: 19px;
}

.line-21 {
  line-height: 21px;
}

.line-23 {
  line-height: 23px;
}

.line-25 {
  line-height: 25px;
}

.line-26 {
  line-height: 26px;
}

.line-28 {
  line-height: 28px;
}

.line-40 {
  line-height: 40px;
}

.line-57 {
  line-height: 57px;
}

.line-75 {
  line-height: 75px;
}

.line-90 {
  line-height: 90px;
}
