// typo
$font-family: Roboto;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// colors

// bg / header__buttons--secondary / pricing__card-item--hover
$color-tickle-me-pink: #fa709a; // starter-card-left-icon
$color-bright-sun: #fec140;

// navbar__brand-bold / header__text / features__text-bold / pricing--text-bold / footer__title / footer--text-bold
$color-shark: #24282a;

// navbar__brand / header__sub-text / header__buttons-btn_def--third / features__sub-text / pricing__sub-text / footer__link / footer__text
$color-regent-gray: #939fa4;

// features__card-title / pricing__list__item / pricing__card_price
$color-black-pearl: #091d2d;

// features__card-text / starter__card-text / pricing__contact
$color-slate-gray: #798893;

// item-no
$color-gull-gray: #a3b1bc;

// bg-gray
$color-athens-gray: #eff2f4;

// navbar__btn / screen-1 / screen-2
$color-woodsmoke: #101112;

// pricing__card-title
$color-woodersmoke: #15181a;

// wave__btn-text
$color-froly: #f2748c;

// wave__icon
$color-salmon: #fc9571;

$color-white: #fff;
$color-black: #000;
