// buttons

.btn_def {
  display: inline-block;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;

  &--nav {
    background-color: $color-woodsmoke;
    color: white;
    @include transitions($args);
    filter: drop-shadow(0px 20px 50px #000 %10);
  }
  &--nav:hover {
    color: white;
  }

  &--colorful {
    padding: 10px 20px;
    color: $color-white;
    background-image: linear-gradient(
      to top left,
      $color-tickle-me-pink 0%,
      $color-bright-sun 100%,
      $color-tickle-me-pink 100%
    );
  }
  &--colorful:hover {
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  &--transparent {
    padding: 18px 27px;

    color: $color-regent-gray;
    border: 2px solid;
    background: linear-gradient(white, white),
      linear-gradient(to right, $color-tickle-me-pink, $color-bright-sun);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 3px solid transparent;
  }
  &--transparent:hover {
  }
}

.btn_def:hover {
  text-decoration: none;
}
