// buttons

.btn_def {
  display: inline-block;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;

  &--nav {
    background-color: $color-woodsmoke;
    color: white;
    @include transitions($args);
    @include drop-shadow;
  }
  &--nav:hover {
    color: white;
  }

  &--colorful {
    padding: 10px 20px;
    color: $color-white;
    @include gradient-bg;
  }
  &--colorful:hover {
    color: white;
    @include hover-shadow;
    text-decoration: none;
  }

  &--card {
    padding: 10px 20px;
    color: $color-white;
    @include gradient-bg;
    background-color: black;
  }
  &--card:hover {
    color: white;
    text-decoration: none;
  }

  &--transparent {
    padding: 18px 27px;

    color: $color-regent-gray;
    border: 2px solid;
    background: linear-gradient(white, white),
      linear-gradient(to right, $color-tickle-me-pink, $color-bright-sun);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    border: 3px solid transparent;
  }
  &--transparent:hover {
  }
}

.btn_def:hover {
  text-decoration: none;
}
