// typo
$font-family-light: Roboto-Light;
$font-family-regular: Roboto-Regular;
$font-family-medium: Roboto-Medium;
$font-family-bold: Roboto-Bold;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
